extends /layouts/index.pug

block title
  a.h5.my-0.mr-md-auto.font-weight-normal(href=urlFor('root')) Task manager

block content
  if isSignedIn()
    a.btn.btn-outline-primary.mb-2(href=urlFor('newStatus')) Add new
  table.table.table-striped
    thead
      tr
        th Status name
        th Created At
        th
    tbody
      each status in statuses
        tr
          td= status.name
          td= status.createdAt
          td
            a.btn.btn-outline-danger(href=urlFor('removeStatus', status.id) data-method='delete' rel='nofollow') Remove
